# Web framework
fastapi==0.115.12
uvicorn[standard]==0.34.0
jinja2==3.1.6
python-multipart==0.0.20
pydantic==2.10.6

# Core services
pdfplumber==0.11.5
rapidfuzz==3.13.0
requests==2.32.3
python-dotenv==1.0.1

# Test
pytest==8.3.5
httpx==0.28.1

# Optional OCR support
# pytesseract==0.3.13
# pdf2image==1.17.0
